#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.largedivbox {
  display: flex;
  border: 2px solid;
  border-radius: 20px;
}

.largedivbox>* {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}